.login__form {
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
  }
  .form {
    padding: 1em;
  }

  .login__form label {
    font-size: 1.2rem;
    color: aliceblue;
    text-align: center;
  }
